version: "3.9"

services:
  memcached:
    image: memcached:1.6.18-alpine
    networks:
      db_net:
        ipv4_address: 172.30.3.4

  db:
    image: mariadb:latest
    volumes:
      - type: bind
        source: ./mariadb/init
        target: /docker-entrypoint-initdb.d
      - type: bind
        source: ./mariadb/my.cnf
        target: /etc/mysql/conf.d/my.cnf
      - type: volume
        source: dbData
        target: /var/lib/postgresql/data
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ROOT_PASSWORD: password
    tty: true
    restart: unless-stopped
    user: "999:999"
    networks:
      db_net:
        ipv4_address: 172.30.3.2

  front:
    build:
      context: ./front
      args:
        UID: $UID
        GID: $GID
        USER: $USER
        GROUP: $USER
    volumes:
      - type: volume
        source: frontModules
        target: /front/node_modules
    depends_on:
      - db
      - api
    tty: true
    restart: unless-stopped
    networks:
      app_net:
        ipv4_address: 172.30.0.4

  api:
    build:
      context: ./api
      args:
        UID: $UID
        GID: $GID
        USER: $USER
        GROUP: $USER
        DB_USER: $DB_USER
        DB_PASS: $DB_PASS
        DB_HOST: $DB_HOST
        DB_NAME: $DB_NAME
    depends_on:
      - db
    volumes:
      - type: bind
        source: ./api
        target: /api
    environment:
      TZ: Asia/Tokyo
    tty: true
    restart: unless-stopped
    networks:
      app_net:
        ipv4_address: 172.30.0.3
      db_net:
        ipv4_address: 172.30.3.3

  nginx:
    image: nginx:alpine
    volumes:
      - type: bind
        source: ./nginx/conf/default.conf
        target: /etc/nginx/conf.d/default.conf
      - type: bind
        source: ./nginx/log
        target: /var/log/nginx
    ports:
      - "127.0.0.1:80:80"
    depends_on:
      - db
      - api
      - front
    environment:
      TZ: "Asia/Tokyo"
    restart: unless-stopped
    networks:
      app_net:
        ipv4_address: 172.30.0.2

volumes:
  dbData:
  frontModules:

networks:
  default:
    external: false
  app_net:
    driver: bridge
    internal: false
    ipam:
      driver: default
      config:
        - subnet: 172.30.0.0/24
  db_net:
    driver: bridge
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.30.3.0/24