version: '3'

services:
  db:
    image: mariadb:10.6.3
    volumes:
      - ./mariadb/init:/docker-entrypoint-initdb.d
      - ./mariadb/my.cnf:/etc/mysql/conf.d/my.cnf
    command:
      - mysqld
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    environment:
      TZ: "Asia/Tokyo"
      MYSQL_ROOT_PASSWORD: password
    tty: true

  front:
    build:
        context: ./front
        dockerfile: Dockerfile
    volumes:
      - ./front:/front
      - /front/node_modules
    depends_on:
      - db
      - api
    tty: true
    command:  yarn dev
       #bash -c "yarn build && yarn start"

  api:
    build:
        context: ./api
        dockerfile: Dockerfile
    depends_on:
      - db
    volumes:
      - ./api:/api
    environment:
      TZ: Asia/Tokyo
    entrypoint:
      - dockerize
      - -timeout
      - 30s
      - -wait
      - tcp://db:3306
    command: gunicorn --chdir / --pythonpath /api -b 0.0.0.0:5000 api.run:app
    tty: true

  nginx:
    image: nginx:stable
    volumes:
      - ./nginx/conf/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/log:/var/log/nginx
    ports:
      - "0.0.0.0:80:80"
    depends_on:
      - db
      - api
      - front
    environment:
      TZ: "Asia/Tokyo"
